* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

footer {
  font-weight: 600;
  margin: auto;
  padding-bottom: 1.5rem;
  padding-top: 2rem;
  text-align: center;

  hr {
    margin-bottom: 2rem;
  }
}

body {
  background-color: #ddd;
}

a {
  color: #000;
  text-decoration: none;
}

h1 {
  font-size: 3.4rem;
  margin: auto;
  margin-top: 2rem;
  text-align: center;
}

h2 {
  font-size: 2.2rem;
  margin-top: 2.5rem;
}

.hidden {
  display: none;
}
