.video {
  margin-top: 2rem;
  position: relative;

  video {
    cursor: pointer;
    width: 100%;
  }
}

.video-paused {
  cursor: pointer;
  position: relative;

  &::before {
    background-image: url('./img/play.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 6%;
    bottom: 0;
    content: '';
    height: 99.5%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  &::after {
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 0;
    content: '';
    height: 99.5%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;

  img {
    height: 3.5rem;

    @media (max-width: $max-width-md) {
      height: 2.5rem;
    }

    @media (max-width: $max-width-sm) {
      height: 2rem;
    }
  }

  button {
    background-color: transparent;
    border-width: 0;
    cursor: pointer;
  }
}

.video-description {
  margin-top: 2rem;
}

.no-vid-error {
  margin-top: 30vh;
}
